body{
    background-color: lightblue;
}

.chessBoard-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 60px;
    height: 800px;
    width: 800px;
}


.row8,
.row6,
.row4,
.row2{
    display: flex;
    height: 100px;
    width: 800px;
}

.row7,
.row5,
.row3,
.row1{
    display: flex;
    height: 100px;
    width: 800px;
}

.row-number, .column-letter{
    font-family: Arial;
    color: red;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
}

.white-pawn{
    position: absolute;
    height: 80px;
    top: 12px;
    left: 12px;
}

.row-number{
    top: 2px;
    left: 4px;
}

.column-letter{
    bottom: 2px;
    right: 4px;
}