.row2 .square1, 
.row2 .square3,
.row2 .square5,
.row2 .square7,
.row4 .square1, 
.row4 .square3,
.row4 .square5,
.row4 .square7,
.row6 .square1, 
.row6 .square3,
.row6 .square5,
.row6 .square7,
.row8 .square1, 
.row8 .square3,
.row8 .square5,
.row8 .square7,
.row1 .square2, 
.row1 .square4,
.row1 .square6,
.row1 .square8,
.row3 .square2, 
.row3 .square4,
.row3 .square6,
.row3 .square8,
.row5 .square2, 
.row5 .square4,
.row5 .square6,
.row5 .square8,
.row7 .square2, 
.row7 .square4,
.row7 .square6,
.row7 .square8
{
    width: 100px;
    background-color: white;
    z-index: 1;
}

.row2 .square2, 
.row2 .square4,
.row2 .square6,
.row2 .square8,
.row4 .square2, 
.row4 .square4,
.row4 .square6,
.row4 .square8,
.row6 .square2, 
.row6 .square4,
.row6 .square6,
.row6 .square8,
.row8 .square2, 
.row8 .square4,
.row8 .square6,
.row8 .square8,
.row1 .square1, 
.row1 .square3,
.row1 .square5,
.row1 .square7,
.row3 .square1, 
.row3 .square3,
.row3 .square5,
.row3 .square7,
.row5 .square1, 
.row5 .square3,
.row5 .square5,
.row5 .square7,
.row7 .square1, 
.row7 .square3,
.row7 .square5,
.row7 .square7
{
    width: 100px;
    background-color: black;
    z-index: 1;
}