body{
    background-color: lightblue;
}

.chessBoard-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 60px;
    height: 800px;
    width: 800px;
}


.row8,
.row6,
.row4,
.row2{
    display: flex;
    background-color: lightcoral;
    height: 100px;
    width: 800px;
}

.row7,
.row5,
.row3,
.row1{
    display: flex;
    background-color: lightgreen;
    height: 100px;
    width: 800px;
}

.row-number, .column-letter{
    font-family: Arial;
    padding-left: 4px;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.column-letter{
    margin-top: 70px;
    margin-left: 70px;
}

.square1 .column-letter{
    margin-top: 48px;
}

img{
    height: 50px;
}